<div id="nav-container" class="col-md-2">
	
	<div class="sidebar-nav">
		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="dropDownMenuOpen()">
					<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
					<span class="visible-xs navbar-brand">Internet Administration</span>
			</div>
			<div id="left-nav" menuitems class="navbar-collapse collapse sidebar-navbar-collapse">
			</div>
			
		</div>
	</div>

</div>